{{#if stage.completed}}
  <li class="item completed">
{{else}}
  {{#if infos.invalid}}
    <li class="item invalid">
  {{else}}
    <li class="item not-completed">
  {{/if}}
{{/if}}
  <div class="content">
    <div class="icon">
      {{#if stage.completed}}
        <i class="fas fa-user-check"></i>
      {{else}}
        <i class="fas fa-user-times"></i>
      {{/if}}
    </div>
    <div class="infos">
      <div class="line-1">
        <span class="name">
          {{~participant~}}
        </span>
        {{#if infos.auto_angles}}
          <span class="auto-angles">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
          </span>
        {{/if}}
      </div>
      {{~#unless infos.invalid~}}
        <div class="line-2">
          <span class="state"></span>
          <span class="text">
            {{~#if stage.completed~}}
              completed
            {{~else~}}
              not completed
            {{~/if~}}
          </span>
        </div>
        <div class="line-3 {{ infos.complexity~}}">
          <span class="state"></span>
          <span class="text">{{~infos.complexity~}}</span>
        </div>
      {{~else~}}
        <div class="line-2">
          <span class="invalid"><i class="fa-solid fa-circle-exclamation"></i> invalid</span>
        </div>
      {{~/unless~}}
    </div>
  </div>
    {{#if stage.completed}}
      <div class="actions">
        <button type="button" id="results">See Results</button>
      </div>
    {{/if}}
</li>
