{{#if stage.completed}}
  <li class="item completed">
{{else}}
  <li class="item not-completed">
{{/if}}
  <div class="content">
    <div class="icon">
      {{#if stage.completed}}
        <i class="fas fa-user-check"></i>
      {{else}}
        <i class="fas fa-user-times"></i>
      {{/if}}
    </div>
    <div class="infos">
      <div class="line-1">
        {{~participant~}}
        {{#if infos.auto_angles}}
          <span class="auto-angles">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
          </span>
        {{/if}}
      </div>
      <div class="line-2">
        <span class="state"></span>
        <span class="text">
          {{~#if stage.completed~}}
            completed
          {{~else~}}
            not completed
          {{~/if~}}
        </span>
      </div>
      <div class="line-3 {{ infos.complexity~}}">
        <span class="state"></span>
        <span class="text">{{~infos.complexity~}}</span>
      </div>
    </div>
  </div>
    {{#if stage.completed}}
      <div class="actions">
        <button type="button" id="results">See Results</button>
      </div>
    {{/if}}
</li>
